[Unit]
Description=qUsbipServer
After=network.target usbipd.service
Requires=usbipd.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/sbin/qusbipserver

[Install]
WantedBy=multi-user.target
